<form (ngSubmit)="onSubmitUserForm(userForm)" #userForm="ngForm">
  <div>
    <label for="">Name</label>
    <input type="text" name="name" [(ngModel)]="user.name" #name="ngModel" required minlength="3">
    <ul *ngIf="name.errors && name.touched">
      <li *ngIf="name.errors.required">Name is required</li>
      <li *ngIf="name.errors.minlength">Min length 3</li>
    </ul>
  </div>

  <div>
    <label for="">Password</label>
    <input type="text" name="password" [(ngModel)]="user.password">
  </div>

  <div>
    <label for="">Email</label>
    <input type="text" name="email" [(ngModel)]="user.email">
  </div>

  <div>
    <label for="">Birthday</label>
    <input type="text" name="birthday" [(ngModel)]="user.birthday">
  </div>

  <div>
    <label for="">Avatar</label>
    <input type="text" name="avatar" [(ngModel)]="user.avatar">
  </div>
  <button type="submit">Create User</button>
</form>
