.container{
  display: flex;
  flex-direction: row;
  background-color: gainsboro;
  
}

.btn{
  margin: 10px 0 0 30px;

}
a{
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: firebrick;
}